{% extends "base.html" %}

{% block content %}
    <div style="min-height: 400px">
        <div class="uk-position-center tm-form">
            <h1>Назначить задачу</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="uk-margin">
                    {{ form.task(class_='uk-input', size=300) }}
                    {% for error in form.task.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="uk-margin">
                    {{ form.user_id(class_='uk-select') }}
                    {% for error in form.user_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="uk-margin">
                    {{ form.submit(class_='uk-button uk-button-primary tm-form') }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}